.site-title-lighter {
    color: #7F7F7F;
}

@media screen and (max-width: 470px) {
    .site-title-ext { display: none; }
}

img {
    display: block;
    margin: 0 auto;
}

.post-image {
    width: 400px;
    height: 400px;
    max-width: 90%;
    margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
    img, .post-image { height: auto; }
}

figure>div {
    display: flex;
}

figure>div>img { margin: 0 4px; }
figure>div>img:first-child { margin: 0 4px 0 0; }
figure>div>img:last-child { margin: 0 0 0 4px; }

figcaption  {
    text-align: center;
    margin-top: 8px;
}

.emoji {
    display: inline;
}
